SQL Homework - Employee Database: A Mystery in Two Parts

In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# SQL Alchemy
from sqlalchemy import create_engine

# Import database connection string containing username, password and hostname
# from a file that is ignored by Git (.gitignore file) so the sensitive information isn't exposed to the public
#from config import dbconnection

In [2]:
# Create Engine and a connection to the Postgresql database
engine = create_engine(
conn = engine.connect()

SyntaxError: f-string: invalid conversion character: expected 's', 'r', or 'a' (<ipython-input-2-3d609e5cf11e>, line 2)

In [ ]:
# Query the salaries from the salaries table into a Pandas dataframe named 'data'
data = pd.read_sql("SELECT * FROM salaries", conn)

In [ ]:
# Review the dataframe to ensure it makes sense
data.head()

In [ ]:
# Create a series and assign it to 'sal' by isolating the 'salary' column
sal = data['salary']

In [ ]:
# Plot a histogram of the salaries to see the distribution using 10 bins
sns.distplot(sal,bins=15);
plt.title('Histogram of Salaries')
plt.ylabel('Frequency')
plt.xlabel('Salary in $')

In [ ]:
# Query the average salary by title and assign to the 'sdata' variable
sdata = pd.read_sql('SELECT ROUND(AVG(s.salary),0) "Avg Salary", t.title "Title" FROM salaries s JOIN titles t ON (s.emp_no = t.emp_no) GROUP BY t.title', conn)

In [ ]:
# View the dataframe created to see if it makes sense
sdata.head()

In [ ]:
# Plot the dataframe in a bar chart to visualize the information
plt.figure(figsize=(10,5))

ax = sns.barplot(x="Title",y="Avg Salary",data=sdata)

ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right',
    fontweight='light',
    fontsize='large')
ax.set_title("Average Salary by Title in $",fontsize='x-large')
plt.ylabel('Average Salary in $',fontsize='large')
plt.xlabel('Job Title',fontsize='large')
plt.show()