# BONUS: SQL Homework - Employee Database: A Mystery in Two Parts

In [ ]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

# SQL Alchemy
from sqlalchemy import create_engine

# Import database connection string containing username, password and hostname
# from a file that is ignored by Git (.gitignore file) so the sensitive information isn't exposed to the public
from config import username, password

1. Import SQL database into Pandas

In [ ]:
# Create Engine and a connection to the Postgresql database
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/EmployeeSQL')
conn = engine.connect()

In [ ]:
# Query the salaries from the salaries table into a Pandas dataframe named 'data'
data = pd.read_sql("SELECT * FROM salaries", conn)

In [ ]:
# Review the dataframe to ensure it makes sense
data.head()

2. Create a historgram to visualize the most common salary range for employees

In [ ]:
# Create a series and assign it to 'sal' by isolating the 'salary' column
sal = data['salary']

In [ ]:
# Plot a histogram of the salaries 
plt.hist(sal, color = "pink");
plt.title('Salaries')
plt.ylabel('Employee Number')
plt.xlabel('Salary in $')

3. Create bar chart of average salary by title

In [ ]:
# Query the average salary by title
sdata = pd.read_sql(sdata = pd.read_sql('SELECT ROUND(AVG(s.salary),0) "Avg Salary", t.title "Title", FROM salaries s JOIN titles t ON (s.emp_no = t.emp_no) GROUP BY t.title', conn)

In [ ]:
# Create engine
avg_salary =

In [ ]:
# View the dataframe created to see if it makes sense
sal_query.head()

In [ ]:
# Plot the dataframe in a bar chart to visualize the information
plt.figure(figsize=(10,5))

ax = sns.barplot(x="Title",y="Avg Salary",data=sdata)

ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right',
    fontweight='light',
    fontsize='large')
ax.set_title("Average Salary by Title in $",fontsize='x-large')
plt.ylabel('Average Salary in $',fontsize='large')
plt.xlabel('Job Title',fontsize='large')
plt.show()